---
import SearchBox from "@app/SearchBox.astro";
import PostButton from "@app/UploadButton";
import { Hamburger, Logo } from "@components/Utils";
import { getUser } from "@lib/auth";
import { getCategories, getProfileInfo, getStatusTypes } from "@lib/db";

const token = Astro.cookies.has("sbat")
  ? Astro.cookies.get("sbat").value
  : null;

let profile = null;

if (token) {
  const { id } = await getUser(token);
  const user = await getProfileInfo(id);

  profile = {
    id: user.id,
    username: user.username,
    full_name: user.full_name,
    status: user.status,
    initials: user.full_name
      .split(" ")
      .map((n) => n[0])
      .join(""),
  };
}

const categories = await getCategories();
const statusTypes = await getStatusTypes();
---

<div class="navbar z-10 bg-base-200">
  <div class="navbar-start">
    {profile && <Hamburger client:load />}
    <div class="inline-flex flex-1 gap-3 lg:navbar-start">
      <Logo client:load />
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <SearchBox />
  </div>
  {
    profile ? (
      <div class="navbar-end gap-3">
        <PostButton
          profile={profile}
          categories={categories}
          statusTypes={statusTypes}
          client:only
        />
      </div>
    ) : (
      <div class="navbar-end">
        <div class="flex flex-row items-center gap-2 sm:flex-row sm:space-x-4 sm:space-y-0">
          <a
            href="/login"
            class="block items-center text-center font-sora text-sm transition-colors duration-200 hover:text-white sm:flex sm:text-base"
            data-astro-prefetch
          >
            Entrar
          </a>
          <a
            href="/signup"
            class="block rounded-full border-2 border-gray-600 p-2 text-center font-sora text-sm transition-colors duration-200 hover:border-primary hover:text-white sm:flex sm:p-3 sm:text-base"
            data-astro-prefetch
          >
            Registrarse
          </a>
        </div>
      </div>
    )
  }
</div>
