---
import { getCategories } from "@lib/db";
import { Search } from "lucide-astro";
const categories: string[] = await getCategories();
---

<form method="get" action="/search" class="form-control relative flex w-full">
  <div class="join bg-base-100">
    <select
      class="select join-item w-40 justify-center overflow-hidden overflow-ellipsis bg-base-100 font-sora text-xs uppercase leading-10"
    >
      <option disabled selected>Filtro</option>
      {
        categories &&
          categories.map((category, index) => (
            <option value={category} key={index}>
              {category}
            </option>
          ))
      }
    </select>
    <div>
      <div>
        <input
          class="input join-item input-ghost bg-base-100 font-sora text-sm"
          placeholder="Buscar Articulo"
        />
      </div>
    </div>
    <div class="bg-base-100">
      <button
        class="btn btn-ghost join-item border-transparent transition duration-300 ease-in-out hover:btn-primary hover:border-primary"
        type="submit"
      >
        <Search class="w-4" />
      </button>
    </div>
  </div>
</form>
