---
import { Search } from "lucide-react";
---

<form method="get" action="/search" class="form-control relative flex w-full">
  <div class="join bg-base-100">
    <input
      name="query"
      class="input join-item input-ghost input-secondary w-[350px] transform-gpu border-x-0 bg-base-100 font-sora text-sm transition-all focus:input-primary"
      placeholder="Buscar Articulo"
      autocomplete="off"
      required
    />
    <div class="bg-base-100">
      <button
        class="btn btn-ghost join-item transform-gpu border-x-0 border-secondary transition-all hover:bg-primary hover:text-base-content hover:ring-2 hover:ring-primary focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:ring-offset-base-100"
        type="submit"
      >
        <Search className="w-4" />
      </button>
    </div>
  </div>
</form>
