---
import HomeLayout from "@layouts/HomeLayout.astro";
import { getUser } from "@lib/auth";
import { getProfileInfo } from "@lib/db";



const token = Astro.cookies.has("sbat")
  ? Astro.cookies.get("sbat").value
  : null;
if (token === null) {
  return Astro.redirect("/login");
}

const { id } = await getUser(token);
const user = await getProfileInfo(id);

if (user === null) {
  return Astro.redirect("/login");
}

const profile = {
  id: user.id,
  username: user.username,
  full_name: user.full_name,
  status: user.status,
};
---

<HomeLayout profile={profile}>
  <div class="h-20 w-20">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis voluptas
    excepturi laboriosam doloremque dolorem quibusdam, odio facere quod porro
    sunt hic beatae eligendi, corrupti praesentium dignissimos facilis?
    Architecto, exercitationem temporibus.
  </div>
</HomeLayout>
