---
import HomeLayout from "@layouts/HomeLayout.astro";
import { ChevronRight, LogOut, Settings } from "lucide-astro";
---

<HomeLayout>
  <div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
      <!-- Page content here -->
      <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden"
        >Open drawer</label
      >
    </div>
    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
      ></label>
      <ul
        class="w-30 menu min-h-full overflow-y-auto border-opacity-50 bg-base-200 p-2 font-sora text-base-content shadow-lg"
      >
        <li class="m-0 p-0">
          <img
            class="mx-auto w-28"
            src="/images/logo/logo-shape-only-dark.svg"
            alt=""
          />
        </li>
        <div class="divider-neutral divider mt-0 pt-0"></div>
        <!-- Sidebar content here -->
        <h2 class="menu-title flex items-center gap-4 px-1.5 font-syne">
          General
        </h2>
        <li>
          <a>
            <ChevronRight />
            <span>Explorar Intercambios</span>
          </a>
        </li>
        <li>
          <a>
            <ChevronRight className="font-normal" />
            <span>Mis Articulos</span>
          </a>
        </li>
        <li>
          <a>
            <ChevronRight className="font-normal" />
            <span>Publicar Articulo</span>
          </a>
        </li>
        <li>
          <a>
            <ChevronRight className="font-normal" />
             Mensajes
          </a>
        </li>
        <div class="divider"></div>
        <h2 class="menu-title flex items-center gap-4 px-1.5 font-syne">
          Cuenta
        </h2>
        <li>
          <a>
            <Settings className="font-normal" />
             Configuración
          </a>
        </li>
        <li>
          <a>
            <LogOut className="font-normal" />
             Cerrar Sesión
          </a>
        </li>
        <li>
          <label class="flex cursor-pointer gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><circle cx="12" cy="12" r="5"></circle><path
                d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
              ></path></svg
            >
            <input
              type="checkbox"
              value="synthwave"
              class="theme-controller toggle"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
              ></path></svg
            >
          </label>
        </li>
        <div class="divider"></div>
        <li>
          <div class="avatar placeholder">
            <div class="w-10 rounded-full bg-neutral text-neutral-content">
              <span class="text-2xl">VM</span>
            </div>
            <span>
              <div class="flex flex-col">
                <p class="capitalize">Valentin Marquez</p>
                <p class="capitalize">@nozz</p>
              </div>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</HomeLayout>
