---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout navBar={false} footer={false}>
  <div
    class="flex min-h-screen flex-col justify-center bg-base-100 py-12 sm:px-6 lg:px-8"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2
        class="mt-6 text-center font-sora text-3xl font-extrabold text-current brightness-200"
      >
        404 - Página no encontrada
      </h2>
      <p class="mt-2 text-center font-sora text-sm text-neutral-500">
        Lo sentimos, la página que estás buscando no existe.
      </p>
      <div
        class="mt-5 flex justify-center sm:mt-8 sm:flex sm:justify-center lg:justify-center"
      >
        <div
          class="flex w-full flex-row items-center justify-center rounded-md shadow"
        >
          <a
            href="/"
            class="btn btn-square btn-primary btn-wide font-sora font-thin"
          >
            Regresar al inicio
          </a>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
