---
import MainLayout from "@layouts/MainLayout.astro";
import Hero from "@components/Hero.astro";
import Card from "@components/Card.astro";
import { PackagePlus, SearchCheck, HeartHandshake } from "lucide-astro";
import { getUser } from '@lib/auth';


// check the cookie to see if the user is logged in
if (Astro.cookies.has('sbat')) {
    const user = await getUser(Astro.cookies.get('sbat').value);
    if (user){
        if (user.user.user_metadata.onboarding){
            return Astro.redirect('/home');
        } else{
            return Astro.redirect('/onboarding');
        }
    }
}
---

<MainLayout footer={false}>
<Hero/>
<div class="divider"/>
<section class=" min-h-8">
    <div class="flex flex-col items-center">
        <div class="flex flex-col items-center" id="howworks-section">
            <h1 class="text-white text-5xl font-bold text-center font-syne lg:leading-[3.7rem] mb-5 lg:max-w-2xl drop-shadow-lg p-10" style="text-wrap: balance;">¿Cómo Funciona?</h1>
        </div>
        <div class="flex flex-col w-full mx-auto lg:flex-row">
            <Card title="Listar tus Artículos" description="Comienza enumerando los artículos que deseas intercambiar en tu perfil. Agrega fotos, descripciones y detalles para atraer a otros usuarios interesados.">
                <PackagePlus size="64px" stroke-width="1.5px" stroke="currentColor" class="mx-auto text-white" slot="icon"/>
            </Card>
            <Card title="Buscar lo que Necesitas" description="Explora la amplia variedad de artículos en Babidi. Utiliza nuestra función de búsqueda avanzada para encontrar exactamente lo que estás buscando.">
                <SearchCheck size="64px" stroke-width="1.5px" stroke="currentColor" class="mx-auto text-white" slot="icon" />
            </Card>
            <Card title="Comunicación y Acuerdo" description="Cuando encuentres un artículo, inicia una conversación con el propietario a través del chat, discute detalles y acuerda un intercambio beneficioso.">
                <HeartHandshake size="64px" stroke-width="1.5px" stroke="currentColor" class="mx-auto text-white" slot="icon" />
            </Card>
        </div>
    </div>
</section>
<section class="mb-40">
    <div class="flex flex-col items-center" id="join-section">
        <h1 class="text-white text-6xl font-bold font-syne lg:leading-[3.7rem] mb-5 max-w-lg drop-shadow-lg p-10 text-center" style="text-wrap: balance;">¡Únete a Ahora!</h1>
    </div>
    <div class="flex flex-row w-full justify-center">
        <a href="login" class="btn md:btn-md lg:btn-lg btn-primary shadow-primary shadow-sm hero-btn rounded-xl hover:text-white transition duration-300 ease-in-out">Registrate</a>
    </div>
</section>
</MainLayout>


<script>
    const whatis = document.getElementById('whatis');
    const howworks = document.getElementById('howworks');
    const join = document.getElementById('join');

    // click on whatis navbar link go to whatis section 
    whatis.addEventListener('click', () => {
        const whatisSection = document.getElementById('whatis-section');
        whatisSection.scrollIntoView({behavior: "smooth"});
    });

    // click on howworks navbar link go to howworks section
    howworks.addEventListener('click', () => {
        const howworksSection = document.getElementById('howworks-section');
        howworksSection.scrollIntoView({behavior: "smooth"});
    });

    // click on join navbar link go to join section
    join.addEventListener('click', () => {
        const joinSection = document.getElementById('join-section');
        joinSection.scrollIntoView({behavior: "smooth"});
    });
</script>