---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="m-2 w-full lg:m-10 lg:w-1/3">
  <div
    class="card h-full w-full rounded-2xl border-2 border-neutral bg-gradient-to-br from-neutral to-base-100 shadow-xl brightness-95 backdrop-blur-lg lg:card-side"
  >
    <div class="absolute -top-5 w-full justify-center overflow-visible">
      <slot name="icon" />
    </div>
    <div class="card-body mt-5">
      <h2
        class="card-title justify-center font-sora text-sm font-bold text-primary lg:text-base"
      >
        {title}
      </h2>
      <p
        class="text-center font-sora text-sm lg:text-base"
        style="text-wrap:balance;"
      >
        {description}
      </p>
    </div>
  </div>
</div>

<style>
  .card {
    --left: 0px;
    --top: 0px;
  }

  .card::before {
    content: "";
    background: theme("colors.primary");

    position: absolute;
    left: var(--left);
    top: var(--top);
    transform: translate(-50%, -50%) scale(1.5);
    filter: blur(50px);

    opacity: 0;
    transition: opacity 0.3s;
  }
</style>
