---
const year = new Date().getFullYear();
---

<footer class="footer footer-center p-4 bg-base-100 text-base-content">
  <aside>
    <p>Copyright © {year} - Todos los derechos reservados por Babidi Labs Babidi Labs</p>
  </aside>
</footer>