---

---

<div
  class="sticky top-0 z-30 flex h-16 w-full justify-center bg-base-100 bg-opacity-90 text-base-content shadow-sm backdrop-blur transition-all duration-100"
>
  <div
    class="lg:px-7.5 border-n-6 navbar h-[4.75rem] border-b border-neutral bg-base-100 px-5 lg:h-[5.25rem] xl:px-10"
  >
    <div class="navbar-start">
      <a href="/">
        <img
          src="/images/logo/logo-dark.svg"
          alt="Babidi"
          width="190"
          height="40"
          decoding="async"
        />
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a id="howworks" class="font-sora hover:text-white">¿Cómo Funciona?</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="flex flex-row space-x-5">
        <a
          href="/login"
          class="hidden items-center font-sora transition-colors duration-200 hover:text-white lg:flex"
          data-astro-prefetch>Entrar</a
        >
        <a
          href="/signup"
          class="hidden rounded-full border-2 border-gray-600 p-3 font-sora transition-colors duration-200 hover:border-primary hover:text-white lg:flex"
          data-astro-prefetch>Registrarse</a
        >
      </div>
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu dropdown-content rounded-box menu-sm z-[1] mt-3 w-52 bg-base-100 p-2 shadow"
        >
          <li><a>Item 1</a></li>
          <li>
            <a>Parent</a>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
