---

---

<div
  class="sticky top-0 z-30 flex h-16 w-full justify-center bg-base-100 bg-opacity-90 text-base-content shadow-sm backdrop-blur transition-all duration-100"
>
  <div
    class="lg:px-7.5 border-n-6 navbar h-[4.75rem] border-b border-neutral bg-base-100 px-5 lg:h-[5.25rem] xl:px-10"
  >
    <div class="navbar-start">
      <a href="/">
        <img
          src="/images/logo/logo-dark.svg"
          alt="Babidi"
          width="190"
          height="40"
          decoding="async"
        />
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a id="howworks" class="font-sora hover:text-white">¿Cómo Funciona?</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <div
        class="flex flex-row items-center gap-2 sm:flex-row sm:space-x-4 sm:space-y-0"
      >
        <a
          href="/login"
          class="block items-center text-center font-sora text-sm transition-colors duration-200 hover:text-white sm:flex sm:text-base"
          data-astro-prefetch
        >
          Entrar
        </a>
        <a
          href="/signup"
          class="block rounded-full border-2 border-gray-600 p-2 text-center font-sora text-sm transition-colors duration-200 hover:border-primary hover:text-white sm:flex sm:p-3 sm:text-base"
          data-astro-prefetch
        >
          Registrarse
        </a>
      </div>
    </div>
  </div>
</div>
