---
import { Moon, Sun } from "lucide-astro";
---

<label class="flex cursor-pointer gap-2">
  <Moon />
  <input
    type="checkbox"
    class="theme-controller toggle"
    value="darken"
    id="themeToggle"
  />
  <Sun />
</label>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const setTheme = (newTheme) => {
      const htmlElement = document.querySelector("html");
      const themeToggle = document.getElementById("themeToggle");
      if (htmlElement && themeToggle) {
        htmlElement.setAttribute("data-theme", newTheme);
        themeToggle.checked = "checked";
      }
      window.localStorage.setItem("theme", newTheme);
    };

    const toggleTheme = () => {
      const currentTheme = document
        .querySelector("html")
        .getAttribute("data-theme");
      const newTheme = currentTheme === "darken" ? "light" : "darken";
      setTheme(newTheme);
    };

    const handleToggleClick = () => {
      toggleTheme();
    };

    document
      .getElementById("themeToggle")
      .addEventListener("click", handleToggleClick);

    // Set initial theme
    const savedTheme =
      localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: darken)").matches
        ? "darken"
        : "light");
    setTheme(savedTheme);

    // Save theme before page reload
    window.addEventListener("beforeunload", function () {
      const currentTheme = document
        .querySelector("html")
        .getAttribute("data-theme");
      window.localStorage.setItem("theme", currentTheme);
    });
  });
</script>
