---
import { Moon, Sun } from "lucide-astro";
---

<label class="flex cursor-pointer gap-2">
  <Moon />
  <input
    type="checkbox"
    class="theme-controller toggle"
    value="darken"
    id="themeToggle"
  />
  <Sun />
</label>
