@import '@fontsource/syne';
@import '@fontsource/sora';
@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-gravity{
    animation: gravity 4s ease-in-out infinite alternate;
}

@keyframes gravity {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}



.wrap-balance{
    text-wrap: balance;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.300');
    border-radius: theme('borderRadius.xl');
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.gray.400');
}