---
import { ViewTransitions } from "astro:transitions";
import "src/global.css";
---

<!doctype html>
<html lang="es-ES" data-theme="darken">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon/favicon.svg" color="#8D46E7" />
    <title>Babidi</title>
    <ViewTransitions />

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      localStorage.theme = document.documentElement.classList.contains("dark")
        ? "light"
        : "dark";
    </script>
  </head>
  <body>
    <div class="flex min-h-screen flex-col overflow-x-hidden">
      <main id="main" class="relative flex w-full flex-col">
        <slot />
      </main>
    </div>

    <script>
      const favicon = document.getElementById("favicon");

      window.onfocus = function () {
        favicon.setAttribute("href", "/favicon/favicon.svg");
      };

      window.onblur = function () {
        favicon.setAttribute("href", "/favicon/favicon-off.svg");
      };
    </script>
  </body>
</html>
