---
import DrawerComponent from "@components/Drawer.astro";
import Navbar from "@components/app/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import "src/global.css";
---

<!doctype html>
<html lang="es-ES" data-theme="darken" class="bg-base-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon/favicon.svg" color="#8D46E7" />
    <title>Babidi</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="flex min-h-screen flex-col overflow-x-hidden">
      <main id="main" class="relative flex w-full flex-col">
        <Navbar />
        <DrawerComponent>
          <slot />
        </DrawerComponent>
      </main>
    </div>

    <style>
      body {
        transition:
          background-color 0.5s ease,
          color 0.5s ease;
      }
    </style>
    <script>
      const favicon = document.getElementById("favicon");

      window.onfocus = function () {
        favicon.setAttribute("href", "/favicon/favicon.svg");
      };

      window.onblur = function () {
        favicon.setAttribute("href", "/favicon/favicon-off.svg");
      };
    </script>
  </body>
</html>
