---
import Footer from "@components/Footer.astro";
import NavBar from "@components/NavBar.astro";
import { ViewTransitions } from "astro:transitions";
import "src/global.css";
interface Props {
  navBar?: boolean;
  footer?: boolean;
}

const { navBar = true, footer = true } = Astro.props;
---

<!doctype html>
<html lang="es-ES" data-theme="darken">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon/favicon.svg" color="#8D46E7" />
    <title>Babidi</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="flex min-h-screen flex-col overflow-x-hidden">
      {navBar && <NavBar />}

      <main id="main" class="relative flex w-full flex-col">
        <slot />
      </main>

      {footer && <Footer />}
    </div>

    <script>
      const favicon = document.getElementById("favicon");

      window.onfocus = function () {
        favicon.setAttribute("href", "favicon.svg");
      };

      window.onblur = function () {
        favicon.setAttribute("href", "favicon-off.svg");
      };
    </script>
  </body>
</html>
